<a href="https://colab.research.google.com/github/umanggupta598/umang-codes/blob/main/problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
a = int(input("Enter a no. "))
factorial = math.factorial(a)
print('factorial is :' , factorial)

squareroot = math.sqrt(a)
print('squareroot is: ' , squareroot)

power = math.pow(a,3)
print(' power to 3 is : ' , power)

Enter a no. 10
factorial is : 3628800
squareroot is:  3.1622776601683795
 power to 3 is :  1000.0

In [ ]:
list1 = [1,2,3,4,5]
print(1 in list1)
print(10 in list1)
print(5 not in list1)

True
False
False

In [ ]:
import math
print (math.sqrt(25) + (7 ** 3) / 2)
print (math.factorial(4) / (2 ** 3) - 1)
print ((10 * (5 - 3) ** 2) / 4)
print (3 * ((5 / 2) - math.sqrt(9)))
print (6 * (len('Mathematics') % 3 // 2) + 3 ** 2)

176.5
2.0
10.0
-1.5
15

In [ ]:
print(4%100,4//100,4/100)

4 0 0.04

In [ ]:
10 > 5 and 3 > 7 or 6 != 6 or not (2 + 2 == 4)

False

In [ ]:
2 + 2 == 5 or 3 + 3 == 6 and 4 != 4 and not (5 > 3)

False

NameError: name 'x' is not defined

In [ ]:
x

In [ ]:
print(x)

NameError: name 'x' is not defined

In [ ]:
x = 10
y = x
x = 5
print(x)
print(y)

5
10

In [ ]:
x = input("write answer: ")
x

write answer: hkh

'hkh'

In [ ]:

print("Hello, World!", end="")

Hello, World!

In [ ]:
print("Hello, World!", stop="")

TypeError: 'stop' is an invalid keyword argument for print()

In [ ]:
print("Hello, World!", newline=False)

TypeError: 'newline' is an invalid keyword argument for print()

In [ ]:
age = int(input("Enter your age: "))

Enter your age: 56

In [ ]:
age

56

In [ ]:
age = input(int("Enter your age: "))

ValueError: invalid literal for int() with base 10: 'Enter your age: '

In [ ]:
8/2

4.0

In [ ]:
10 // 3

3

In [ ]:
5 * 3 + 2

17

In [ ]:
y=2

In [ ]:
 z = 2
 z **= 3

In [ ]:
 z = 2
 z **= 3

In [ ]:
 z = 2
 z **= 3

In [ ]:
print(z)

8

In [ ]:
ab = [1, 2, 3, 4, 5]
print(3 in ab)

True

In [ ]:
5  == 5.0

True

In [ ]:
5 is 5.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-30-2b2d1770f80b>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 5.0

False

In [ ]:
ab = [1, 2, 3, 4, 5]
cd = [1, 2, 3, 4, 5]
print (ab is cd)
print(id(ab))
print(id(cd))

False
137076801791872
137077301127872

In [ ]:
print(f"He said, ""Hello""")

He said, Hello

In [ ]:
print(f"He said, \"Hello\"")

He said, "Hello"

In [ ]:
x = 10
print(f"10 + {x}")

10 + 10

In [ ]:
print(f"{10+x}")

20

In [ ]:
x=10
print(f"{x+10}")
print(f"{10+x}")
print(f"10 + {x}")

20
20
10 + 10

In [ ]:
print("Hello, {}".format("Alice"))

Hello, Alice

In [ ]:
print("Hello, {name}".format(name="Alice"))

Hello, Alice

In [ ]:
print("Hello, {}".format("Alice"))

print("Hello, {name}".format(name="Alice"))

Hello, Alice
Hello, Alice

In [ ]:
print("{:.3f}".format(3.14159265))

3.142

In [ ]:
names = ('Umang','Bhupesh','Ritin','Ranu','Chintu','Ujji')
for name in names:
  if name[0] == "R":
    print(f"{name} start with R")
    continue
  print(f"{name} doesn't start with R")

Umang doesn't start with R
Bhupesh doesn't start with R
Ritin start with R
Ranu start with R
Chintu doesn't start with R
Ujji doesn't start with R

In [ ]:
age = int(input("Enter the age : "))
if age<= 20: print("Hello")
else: print("Namaste")

Enter the age : 12
Hello

In [ ]:
def greet():
  print("Hi everyone")

for i in range(4):
  greet()

Hi everyone
Hi everyone
Hi everyone
Hi everyone

In [ ]:
number = 1234
#output to be 4321, 8765
for i in number:
  print(i)

TypeError: 'int' object is not iterable

In [ ]:
number = "1234"
#we will reverse the number
new_num = ''
#output to be 4321, 8765
for i in range(len(number)-1,-1, -1):
    new_num = new_num + number[i]

#print in string
print(new_num)
print(int(new_num))

4321
4321

In [ ]:
truckid = '13E122-32'
label = "invalid"
listvalid = ['A','E','I','O','U','Y']
sumnumber = 0
for i in range (0, 10):
    if truckid[0:2].isnumeric() and truckid[2].isalpha() and truckid[2].isupper() and truckid[3:6].isnumeric() and truckid[6]=='-' and truckid[7:9].isnumeric():
        if truckid[i].isnumeric():
           truckid = int(truckid[i])
           sumnumber += truckid
           if sumnumber%2 == 0:
               label = 'valid'

           else:
               label = "invalid"

        elif (truckid[i].isalpha()) and (truckid in listvalid):
               label = 'valid'
        else:
            label = "invalid"
    else:
        label = 'invalid'

return label

print(label)

In [ ]:
tuckid = '1DE121031'
label = "invalid"
listvalid = ['A','E','I','O','U','Y']
sumnumber = 0

#def checkvalid(truckid):
for num in truckid:

    if num.isnumeric():
      sumnumber = sumnumber + int(num)
      if sumnumber % 2 == 0:
        label = 'valid'

    elif num.isalpha() and num in listvalid:
      label = 'valid'

    else:
      label = 'invalid'



#print(checkvalid('1E3121C32'))
print(label)

valid

In [ ]:
def check_truck_serial(serial_number):
    # List of valid vowels
    valid_vowels = ['A', 'E', 'I', 'O', 'U', 'Y']

    # Initialize the sum of digits
    sum_digits = 0

    # Extract the letter to be checked and digits
    letter_to_check = serial_number[2]
    hyphencheck = serial_number[6]

    # Loop through each character in the serial number
    for char in serial_number:
        if char.isnumeric():
            sum_digits += int(char)

    # Check if the sum of digits is even
    is_sum_even = (sum_digits % 2 == 0)

    # Check if the letter at index 2 is a valid vowel
    is_valid_letter = (letter_to_check in valid_vowels)

    # Check if the hyphen at index 6 is valid
    is_valid_hyphen = (hyphencheck == '-')

    # Determine if the serial number is valid
    if is_sum_even and is_valid_letter and is_valid_hyphen:
        return "valid"
    else:
        return "invalid"

# Sample inputs
print(check_truck_serial("13E122-32"))  # Output: valid
print(check_truck_serial("15G234-56"))  # Output: invalid
print(check_truck_serial("13E122132"))
print(check_truck_serial("1E32Y4-26"))

valid
invalid
invalid
invalid

In [ ]:
# Write your code below
word = "engaging"
repeat = []
for i in word:
    if word.count(i) > 1:
        if i not in repeat:
            repeat.append(i)

print(repeat)

['n', 'g']

In [4]:
#printing * patterns

for i in range(0,10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********