<a href="https://colab.research.google.com/github/umanggupta598/umang-codes/blob/main/sizeof_and_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = int(input('enter the no. :'))
b = int(input('enter the no. 2 :'))
print(float(a))
print(float(b))

enter the no. :5
enter the no. 2 :6
5.0
6.0

In [5]:
c = float(input('enter the no. '))
print(int(c))

enter the no. 10.56
10

In [5]:
a , b , c = 1, 3 , 'Umang'
print(a)
print(b)
print(c)

d= 1, 2.0 , 'hello'
print(d)
print(type(d))

1
3
Umang
(1, 2.0, 'hello')
<class 'tuple'>

In [10]:
e = [1,2,3,4,5]
print(e)
print(type(e))

[1, 2, 3, 4, 5]
<class 'list'>

In [8]:
import sys

str = "Hello Hi everyone"
intgr = 123456
flt = 12.4
bln = True
print(str)
print(intgr)
print(flt)
print(bln)

print('the size of string is ', sys.getsizeof(str))             #17 characters including spaces
print('the size of integer is ', sys.getsizeof(intgr))          #6
print('the size of float is ', sys.getsizeof(flt))              #4(including decimals)
print('the size of boolean is ', sys.getsizeof(bln))            #true = 4

Hello Hi everyone
123456
12.4
True
the size of string is  66
the size of integer is  28
the size of float is  24
the size of boolean is  28

In [19]:
numi = 12
numf = 10.5
print(numi + numf)
print(type(numi + numf))

numfinal = int(numf)
print(numfinal)
print(type(numfinal))

numfinal2 = float(numi)
print(numi)
print(numfinal2)
print(type(numfinal2))

string = "15"             #doubtful: why is it converting string'15' into integer without error?
numfinal3 = int(string)
print(numfinal3)
print(type(numfinal3))

22.5
<class 'float'>
10
<class 'int'>
12
12.0
<class 'float'>
15
<class 'int'>

In [21]:
boolean1, boolean2 = True , False
integer , integer2 = int(boolean) ,  int(boolean2)
print(integer)
print(type(integer))
print(integer2)
print(type(integer2))

1
<class 'int'>
0
<class 'int'>

In [24]:
inte1 , inte2, inte3 = 10 , -10.8 , 0               #note that positive and negative integers and float, both are positive, i.e. true
bool1 , bool2, bool3 = bool(inte1) , bool(inte2) , bool(inte3)
print(bool1)
print(bool2)
print(bool3)
print(type(bool1))
print(type(bool2))
print(type(bool3))

True
True
False
<class 'bool'>
<class 'bool'>
<class 'bool'>