<a href="https://colab.research.google.com/github/umanggupta598/umang-codes/blob/main/variables_and_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = 'Umang'
surname = 'Gupta'
age = 25
marks = 95.0
print('My name is' , name, end=". ")
print('My surname is' , surname)
print('My age is' , age)
print('I obtained marks:' , marks)

My name is Umang. My surname is Gupta
My age is 25
I obtained marks: 95.0

In [4]:
print(name , '\n' , surname , '\n' , age)

Umang
 Gupta
 25

In [2]:
name = input('enter your name: ')
surname = input('enter your surname : ')
print('hello ', name , ' ' , surname)

enter your name: Umang
enter your surname : Gupta
hello  Umang   Gupta

In [ ]:
#arithmetic operators

In [5]:
print(type(name))

<class 'str'>

In [9]:
age = 25
marks = 95.0
name = 'um'
surname = "sh"


print(type(age))
print(type(marks))
print(type(name))
print(type(surname))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [12]:
a = int(input("enter number 1 : "))
b = int(input("enter number 2 "))
print(" sum is " , a+b)
print( " difference is " , a-b)
print( " multiplication is " , a*b)
print(" division is " , a/b)
print(" number1's power to number 2 is " , a**b)
print(" quotient of num1 divide by num2 is " , a//b)
print(" remainder of num1 divide by num2 is is " , a%b)

enter number 1 : 25
enter number 2 3
 sum is  28
 difference is  22
 multiplication is  75
 division is  8.333333333333334
 number1's power to number 2 is  15625
 quotient of num1 divide by num2 is  8
 remainder of num1 divide by num2 is is  1

In [22]:
##maths function
import math
a = int(input('enter the number : '))
print(math.sqrt(a))
print(math.log(a,10))
print(math.cos(a))
print(math.pow(a,2))
print(math.pi)

enter the number : 90
9.486832980505138
1.9542425094393248
-0.4480736161291701
8100.0
3.141592653589793

In [24]:
#assignment operators
a = 10
a += 10
b = 20
b -= 5
c = 30
c *= 3
d = 40
d /= 4
print(a)
print(b)
print(c)
print(d)

20
15
90
10.0

In [28]:
#comparison operators
a = int(input('enter number 1 :'))
b = int(input('enter number 2 :'))
print(a)
print(b)
print(a==b)
print((a<b) and (b>2))
print((a<b) or (a>10))
print(not(a==b))
print(type(not(a!=b)))

enter number 1 :20
enter number 2 :40
20
40
False
True
True
True
<class 'bool'>